@import '../../variables';

.container {
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  aspect-ratio: 1/1;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  perspective: 1000px;
  user-select: none;
}

.wrapper {
  position: relative;
  font-size: 40px;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;

  @media screen and (max-width: 450px) {
    font-size: 20px;
  }
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: grid;
  place-items: center;
  border-radius: $border-radius;
}

.front {
  background: linear-gradient(130deg, #f59e0b, #b45309);
  color: #92400e;
}

.back {
  background: #f59e0b;
  transform: rotateY(180deg);
}

.matched {
  background: #fde047;
}
